doctype html
html(lang = 'en')
	head
		title Twitter Stats
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
		link(rel='stylesheet', href='info.css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
		script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
		link(rel='stylesheet', href='about.css')
		link(rel='icon', href='favicon.ico')
	body#page-top
		nav.navbar.navbar-default.navbar-fixed-top
			.container#sw
				.navbar-header.page-scroll
					button.navbar-toggle(type = "button", data-toggle = "collapse", data-target="#bs-example-navbar-collapse-1")
						span.sr-only Toggle Navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand#bug(href="#page-top") Twitter
					a.navbar-brand#fon(href="#page-top") Stats
				.collapse.navbar-collapse#bs-example-navbar-collapse-1
					ul.nav.navbar-nav.navbar-right
						li.active
							a(href="#words") Words
						li.page-scroll
							a(href='#hours') When
						li.page-scroll
							a(href='#people') People
						li.page-scroll
							a(href="#mostFavorited") Favorites
						li.page-scroll
							a(href="#mostRetweeted") Retweets

		.container
			.text-vertical-center
				table#words
					thead
						tr
							th#listen Top 10 Most used Words On Twitter : 
					tbody
						each date in data
							tr
								td
									h3 #{date.word} - #{date.occurrences} times
	-if(typeof(url) !== "undefined"){
		.section
			iframe#hours(width = '900', height = '500', frameborder='0', scrolling = 'no', src = "#{url}")
	-}
		.section#people
			h1 The people you tweet to the most : 
			h1 #{topthree[0].word} - #{topthree[0].occurrences} replies
			h2 #{topthree[1].word} - #{topthree[1].occurrences} replies
			h3 #{topthree[2].word} - #{topthree[2].occurrences} replies
		.section#mostFavorited
			h1 MOST FAVORITED TWEETS :
			h2 #{favorites[0]["favorites_text"]} - #{favorites[0].favorites}
			h2 #{favorites[1]["favorites_text"]} - #{favorites[1].favorites}
			h2 #{favorites[2]["favorites_text"]} - #{favorites[2].favorites}
			h3 #{favorites[3]["favorites_text"]} - #{favorites[3].favorites}
			h4 #{favorites[4]["favorites_text"]} - #{favorites[4].favorites}
		.section#mostRetweeted
			h1 MOST RETWEETED TWEETS :
			h2 #{retweets[0]["retweets_text"]} - #{retweets[0].retweets}
			h2 #{retweets[1]["retweets_text"]} - #{retweets[1].retweets}
			h2 #{retweets[2]["retweets_text"]} - #{retweets[2].retweets}
			h3 #{retweets[3]["retweets_text"]} - #{retweets[3].retweets}
			h4 #{retweets[4]["retweets_text"]} - #{retweets[4].retweets}

		script(src='jquery.js')
		script(src='bootstrap.js')
		script(src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js")
		script(src='classie.js')
		script(src='cbpAnimatedHeader.min.js')
		script(src='parallax.min.js')

		script(src='freelancer.js')
		script(src='pathseg.js')

		script.
			$(window).scroll(function() {
			if ($(document).scrollTop() > 50){
			$('nav').addClass('shrink');
			} else {
			$('nav').removeClass('shrink');
			}
			});
			$(document).ready(function(){
				
			});


